{
  "extends": "vacuumlabs",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-duplicate-imports": 0,
    "import/no-duplicates": "error",
    "react/no-unknown-property": [2, { ignore: [allowtransparency] }]
  }
}
