.result {
  background-color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0 10px 10px;

  border-radius: 4px;
  border-width: 2px;
  border-color: #cddae3;
  border-style: solid;
  box-shadow: 0 4px 12px 0 rgba(187, 198, 206, 0.5);
}

.infoWrapper:first-of-type > .result > .entityName > .fa-circle:before {
  content:"\f10c";
  font-family: FontAwesome;
}

.infoWrapper:last-of-type > .result > .entityName > .fa-circle:before {
  content:"\f10c";
  font-family: FontAwesome;
}

.entityName {
  color: #0062db;
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.infoDataTable {
  margin-left: 10px;
  table-layout: fixed;
  margin-bottom: 0;
}

.result hr {
  margin-top: 0;
  margin-bottom: 5px;
}

.result strong {
  color: #6c8294;
  font-weight: 400;
}

.relatedHidden {
  float: right;
}

.table > tbody > tr:first-child > td {
    border: none;
}

.table > tbody > tr > td.sizeCell {
  text-align: right;
  padding-right: 10px;
}

td.sizeCell > strong {
  padding-right: 5px;
  color: #333333;
  font-weight: 700;
}

.sizeCellArrow {
  color: #cddae3;
}

.showHideBtn {
  padding: 0;
}

.table > tbody > tr.noBorder > td {
  border-top: 0;
  padding-top: 0;
}

.dataTable .sponzorList {
  margin-bottom: 0;
}

.politician {
  color: #e55600;
}