.entitysearch input {
  border-radius: 2px;
  border-width: 2px;
  border-color: #cddae3;
  border-style: solid;
  background-color: #f2f5f8;
}

.entitysearch label {
  color: #cddae3;
  color: rgba(205, 218, 227, 0.5);
  font-weight: 700;
  text-align: left;
}

.searchButton {
  text-align:center;
  width: 126px;
  height: 38px;
  margin-top: 5px;
}

.searchForm {
  width: 100%;
}

.searchForm .searchTitle {
  font-family: 'Source Code Pro', monospace;
}

.searchForm .col-sm-10, .col-sm-2 {
  padding-left: 0;
}

.searchLabel {
  padding-bottom: 6px;
}
