.mainLegend {
  width: 100%;
}

.mainLabel {
  padding-bottom: 6px;
}

.legendLabel {
  color: darkgrey;
}

.mainLegend .mainTitle {
  font-family: 'Source Code Pro', monospace;
}

.mainLegend .col-sm-2 {
  text-align: center;
  padding-right: 0;
}

.mainLegend .col-sm-10 {
  padding-left: 0;
}

.mainLegend .row {
  padding: 5px 0;
}

.divider {
  border: 1px solid #eee;
  margin: 20px 0;
}