.similar-count {
  background-color: darkgrey;
  color: white;
  border-radius: 8px;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}

.similarity {
  color: green;
  font-weight: lighter;
}

.similarity-high {
  font-weight: bold;
}

.similarity-medium {
  font-weight: bolder;
}

.similarity-low {
  font-weight: normal;
}

.warning-1 {
  color: gold;
  font-size: 130%;
}

.warning-2 {
  color: orange;
  font-size: 130%;
}

.warning-3 {
  color: red;
  font-size: 130%;
}