@import '../../../variables.scss';

.list-row {
  border: 0;
  margin-bottom: 0;
  padding: .5rem 0;
  cursor: pointer;

  &:first-child {
    border-radius: 0;
  }

  &:last-child {
    border-radius: 0;
  }

  & + & {
    border-top: 1px solid $border-color;
  }
}

.list-row-icon {
  margin-left: -1rem;
  margin-right: 1rem;
  color: $blue-color;
}

.search-icon {
  color: $blue-color;
}
