html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f4f5;
}

#root,
#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#stream {
    width: 325px;
    height: 100%;
    float: left;
    overflow-y: scroll;
}

/* Simplify */

#search-fieldXXX {
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-weight: 300;
    text-overflow: ellipsis;
    width: 290px;
}

p {
    word-break: none
}

label {
    display: block;
    margin-top: 5px;
    margin-left: 3px;
    font-weight: bold;
    color: #333333;
}

.sidebarnav {
    align-self: flex-start;
    width: 100%;
    margin-bottom: auto;
}

.navbar-header {
    float: none;
    background-color: inherit;
}

.navbar-toggle {
    display: block;
    margin-right: 0;
}

.navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
}

.navbar-brand:hover {
    color: #333333;
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-nav {
    float: none !important;
}

.navbar-nav>li {
    float: none;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

.icon-bar {
    background-color: #cddae3;
    width: 24px;
    height: 4px;
}

.list-group-item-success {
    color: #468966;
    background-color: #fffad5;
}

a.list-group-item-success,
button.list-group-item-success {
    color: #468966;
}

a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
    color: inherit;
}

a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
    color: #468966;
    background-color: #fffad5;
    opacity: 0.85;
}

.list-group-item-info {
    color: #0062db;
    background-color: white;
}

a.list-group-item-info,
button.list-group-item-info {
    color: #0062db;
}

a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
    color: inherit;
}

a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
    color: #0062db;
    background-color: #fafafa;
    opacity: 0.85;
}

.list-group-item-danger {
    color: #0062db;
    background-color: #f1f4f5;
}

a.list-group-item-danger,
button.list-group-item-danger {
    color: #313131;
}

a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
    color: inherit;
}

a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
    color: #313131;
    background-color: #fafafa;
    opacity: 0.85;
}

a.verejne-menu-selected {
    color: #0062db;
}

a.verejne-menu-selected:hover {
    color: #0062db;
    text-decoration: underline;
}

a.obstaravania-selected {
    color: #bd4932;
}

.obstaravania-stars {
    color: #bd4932;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: #fffdf4;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #fff0a5;
}

.obstaravania-time-info {
    color: black;
    font-weight: bold;
}

.badge-list {
    background-color: #b64926;
    color: #fff0a5;
}

.many {
    color: #313131;
    float: right;
}

.fa {
    font-size: 15px;
}

.fa-map-maker {
    content: "\f041";
}

.manygray {
    margin-top: 3px;
    color: #cddae3;
    width: 7px;
    height: 12px;
    float: right;
}

.panel {
    overflow: auto;
}

.form-control input {
    border-radius: 2px;
    border-width: 2px;
    border-color: #cddae3;
    border-style: solid;
    background-color: #f2f5f8;
}
