@import "../variables.scss";

.wrapper {
  overflow: hidden;
}

.verejne-side-panel {
  position: fixed;
  top: $navbar-height + 40px;
  left: 40px;
  z-index: 1;

  .form-control {
    box-shadow: 0 4px 12px darken($shadow-color, 25%);
    border-radius: 2px;
    font-size: 1rem;
    padding: 1em 1.5em;
    width: 360px
  }
  
  .entity-input {
    width: auto;
  }
}