body {
  background-color: #fff0a5;
}
label {
  margin : 5px;
  color: #bd4932;
}
table {
  color: inherit;
}

.beta {
  background-color:#fff0a5;
  color:#bd4932;
  margin:3px
}

.fbIframe {
  border:none;
  overflow:hidden
}


.list-group-item-success {
  color: #468966;
  background-color: #fffad5;
}
a.list-group-item-success,
button.list-group-item-success {
  color: #468966;
}
a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
  color: inherit;
}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
  color: #468966;
  background-color: #fffad5;
  opacity: 0.85;
}


.list-group-item-info {
  color: #b64926;
  background-color: #fff0a5;
}
a.list-group-item-info,
button.list-group-item-info {
  color: #b64926;
}
a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
  color: inherit;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
  color: #b64926;
  background-color: #fff0a5;
  opacity: 0.85;
}


.list-group-item-danger {
  color: #fffad5;
  background-color: #bd4932;
}
a.list-group-item-danger,
button.list-group-item-danger {
  color: #fffad5;
}
a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
  color: inherit;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
  color: #fffad5;
  background-color: #bd4932;
  opacity: 0.95;
}

a.verejne-menu-selected {
  color:#ffd34e;
}

a.verejne-menu-selected:hover {
  color:#ffd34e;
  text-decoration: underline;
}

a.obstaravania-selected {
  color:#bd4932;
}

.obstaravania-stars {
  color:#bd4932;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #fffdf4;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fff0a5;
}

.obstaravania-time-info {
  color: black;
  font-weight: bold;
}

.badge-list {
  background-color: #b64926;
  color: #fff0a5;
}

.panel {
    overflow: auto;
}
