@import "../../variables.scss";

.showGraphButtonWrap {
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  height: 40px;
}

.showGraphButton {
  cursor: pointer;
  z-index: 10;

  &.open {
    background: white;
    padding: .3rem;
    border: 1px solid $border-color;
    box-shadow: 0 4px 12px 0 $shadow-color;
    margin-bottom: 15px;
  }

  &.close {
    position: absolute;
    right: 15px;
    top: 5px;
    padding: 0 5px;
  }
}
