@import "../../variables.scss";

.form-control {
  // TODO: Refactor
  font-size: 16px;
  padding: 8px 16px;
  height: auto;
  border-radius: 2px;
  border-width: 2px;
  border-color: $border-color;
  border-style: solid;
  background-color: $component-background;
  box-shadow: 0 4px 12px 0 $shadow-color;
}

.search-autocomplete {
  max-width: 500px;
  width: 100%;
  margin: 100px auto;

  @media screen and (max-width: 767px) {
    margin: 24px 0;
    max-width: 100%;
  }
}

.connections-autocomplete-input {
  width: 270px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
.connections-autocomplete-wrapper {
  display: block !important;
}
.connections-search-wrapper {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-family: "Source Code Pro", monospace;
    font-weight: 200;
  }
}
.connections-autocomplete-suggestions {
  max-height: 10rem;
  @media screen and (min-width: 768px) {
    max-height: 20rem;
  }
}
