@import "../../variables.scss";

.form-control {
  // TODO: Refactor
  font-size: 16px;
  padding: 8px 16px;
  height: auto;
  border-radius: 2px;
  border-width: 2px;
  border-color: $border-color;
  border-style: solid;
  background-color: $component-background;
  box-shadow: 0 4px 12px 0 $shadow-color;
}

.search-autocomplete {
  max-width: 500px;
  width: 100%;
  margin: 40px auto;

  @media screen and (max-width: 767px) {
    margin: 24px 0;
    max-width: 100%;
  }
}

.connections-autocomplete-input {
  width: 270px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
.connections-autocomplete-wrapper {
  display: block !important;
}
.connections-search-wrapper {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-family: "Source Code Pro", monospace;
    font-weight: 200;
  }
}
.connections-autocomplete-suggestions {
  max-height: 10rem;
  @media screen and (min-width: 768px) {
    max-height: 20rem;
  }
}

.search-box {
  display: inline-block;
  padding: 8px 16px;
  width: 18%;
  background-color: #fff;
  margin: 0 1% 24px;
  border-radius: 2px;
  position: relative;
  color: #333;
  position: relative;
  border: 2px solid $border-color;

  &:hover::before {
    opacity: 1;
  }

  &::before {
    content: " ";
    position: absolute;
    box-shadow: 0 4px 12px $shadow-color;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .25s;
  }
}

.search-box-index {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  color: #0062db;
  border: 2px solid #0062db;
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box-name {
  max-width: 100%;
  overflow: hidden;
  display: block;
  word-break: unset;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-box-address {
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  word-break: unset;
  white-space: nowrap;
  text-overflow: ellipsis;
}
