@import "../../variables.scss";

.form-control {
  // TODO: Refactor
  border-radius: 2px;
  border-width: 2px;
  border-color: $border-color;
  border-style: solid;
  background-color: $component-background;
  box-shadow: 0 4px 12px 0 $shadow-color;
}

h2 {
  // TODO: Refactor
  font-family: "Source Code Pro", monospace;
  font-weight: 200;
}
