
@media (min-width: 1200px) {
  .App {
    width: 800px;
    margin: auto;
  }  
}
@media (max-width: 1200px) {
  .navbar-brand {
    float: none;
  }
}

.App-header {
  height: auto;
  padding: 20px;
  padding-left: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-search {
  padding-bottom: 40px;
  padding-top: 20px;
}

.App .bolder {
  font-weight: bolder;
}

.App .fbframe {
  text-align: left;
  padding-right: 0px;
  margin-right: 0px;
}
