
.App {
  width: 800px;
  margin: auto;
}

.App-header {
  height: 150px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-search {
  padding-bottom: 30px;
  padding-top: 30px;
}

.App .bolder {
  font-weight: bolder;
}