.detail-header{
  margin-bottom: 10px;
  text-align: center;
  background-color: white
}

.detail-body {
  width: 800px;
  margin: auto;
}

.brand {
  font-family: 'Source Code Pro', monospace;
  color:  #333333;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.detail-navigation {
  width: 800px;
  margin: auto;
}