.detail-header{
  margin-bottom: 10px;
  text-align: center;
  background-color: white
}

.detail-body {
  width: 800px;
  margin: auto;
}

.brand {
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: monospace;
  /*color:  #333333;*/
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.detail-navigation {
  width: 800px;
  margin: auto;
  text-align: left;
}

.data-tables {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;  
}

.mapa {  
  height: 420px;  
  padding-top: 40px;
  text-align: center;
}