.detail-header{
  margin-bottom: 10px;
  text-align: center;
  background-color: white
}

@media (max-width: 1199px) {
  .assets-tables {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .detail-page {
    width: 800px;
    margin: auto;
  }
  .mapa {
    height: 420px;
    width: 800px;
    margin: auto;
  }

  .data-tables {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.brand {
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: monospace;
  /*color:  #333333;*/
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.detail-navigation {
  width: 800px;
  margin: auto;
  text-align: left;
}

.data-tables {
  display: flex;
  justify-content: space-between;  
  flex-wrap: wrap;
}

.mapa {   
  padding-top: 40px;
  text-align: center;
}