@import '../../variables.scss';

.info {
  background-color: $component-background;
  margin-bottom: 0;
  padding: 0;
  border-radius: 4px;
  border: 2px solid $border-color;
  box-shadow: 0 4px 12px 0 $shadow-color;
  position: relative;

  &.active {
    box-shadow: 0 8px 16px 0 red;
  }

  .info-header {
    padding: .5rem .75rem .4rem .75rem;
    border-bottom: 1px solid $border-color;
    position: relative;

    h3 {
      color: $marker-border;
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1rem;
      display: inline-flex;
      align-items: center;

      &.politician {
        color: $orange-color;
      }
    }

    .blue {
      color: $blue-color
    }
  }

  &.closable .info-header > h3 {
    cursor: pointer;
  }
}

.info-index {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  color: #0062db;
  border: 2px solid #0062db;
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-main {
  padding: .5rem .75rem;
}

.info-close-button {
  position: absolute;
  right: .5rem;
  top: .5rem;
  cursor: pointer;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-badges {
  font-size: 1rem;

  & > * + * {
    margin-left: .5em;
  }
}
