@import "../variables.scss";

.connections-sidebar {
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  background-color: $component-background;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 400px;

  @media screen and (max-width: 767px) {
    position: static;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.connections-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
