@import "../../../variables.scss";

.entitysearch input {
  border-radius: 2px;
  border-width: 2px;
  border-color: $border-color;
  border-style: solid;
  background-color: $component-background;
  box-shadow: 0 4px 12px 0 $shadow-color;
}

.searchForm {
  width: 100%;
}

.searchForm .searchTitle {
  font-family: "Source Code Pro", monospace;
}
