@import '../../../variables.scss';

.address-detail {
  width: $verejne-sidebar-width;
  box-shadow: 0 4px 12px darken($shadow-color, 25%);
  background-color: $component-background;
  border-radius: 2px;

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

.address-detail-header {
  padding-top: .3rem;
  padding-right: .5em;
  border-bottom: 2px solid $border-color;
}

.address-detail-list {
  overflow-y: auto;
  border-radius: 0;
  padding-left: 1.5rem;
  padding-right: .5rem;
  max-height: calc(100vh - 300px);

  @media screen and (max-width: 576px) {
    padding: 0 .2rem;
    max-height: calc(100vh - 160px);
  }
}
