.loading {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    svg {
        margin: auto;
    }
}
.loadingsmall {
    width: 100%;
    height: 100%;
    svg {
        margin: auto;
    }
}
