@import "../../variables.scss";

.info {
  background-color: $component-background;
  margin-bottom: 0;
  padding: 0;

  border-radius: 4px;
  border: 2px solid $border-color;
  box-shadow: 0 4px 12px 0 $shadow-color;

  &.closable .info-header h3 {
    cursor: pointer;
  }
}

.info-header {
  padding: 0.5rem 0.75rem 0.4rem 0.75rem;
  border-bottom: 1px solid $border-color;
  position: relative;

  h3 {
    color: $marker-border;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1rem;
    display: inline-flex;
    align-items: center;

    &.politician {
      color: $orange-color;
    }
  }
}

.info-main {
  padding: 0.5rem 0.75rem;
}

.info-close-button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
}

.info-item {
  padding: 0.5em 0;
}

.info-item-label {
  color: $secondary;
  font-weight: normal;
  margin-right: 0.5em;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-badges {
  font-size: 1rem;

  & > * + * {
    margin-left: 0.5em;
  }
}
