.resultLoading {
  background-color: #ffffff;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0 10px 10px;

  border-radius: 4px;
  border-width: 2px;
  border-color:  #cddae3;
  border-style: solid;
  box-shadow: 0 4px 12px 0 rgba(187, 198, 206, 0.5);
}

.connectLine {
  height:30px;
  width:8px;
  padding-left: -50px;
  background-color: #cddae3;
  margin-left: 40px;
}

.infoWrapper:last-of-type {
  margin-bottom: 60px;
}

.infoWrapper:last-of-type > .connectLine {
  height:0;
  width:0;
}

.infoWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
