@import "../../variables.scss";

article.profile{
  table.assets-declaration {
    border-bottom-style: double;
    width: 100%;

    .source {
    	color: gray;
    	font-weight: normal;
    	padding-left: 20px;
    }

    .plot {
    	max-width: 100%;
    }

    .asset:hover {
      background-color: $asset-hover-color;
    }
  }
}
