@import "../../variables.scss";
.profile-search {
  .search-form {
    .search-input {
      background: $component-background;
      border-radius: 2px;
      border-width: 2px;
      border-color: $border-color;
      border-style: solid;
      height: 34px;
      color: $search-color;

      &:placeholder {
        color: $search-color;
      }

      &:focus {
        box-shadow: inset 0 1px 1px $input-inset-shadow-color,0 0 8px $input-shadow-color;
      }
    }
  }
}
