.assets-declaration {
  flex-basis: auto;  
  width: 100%;
}

@media (min-width: 1200px) {
  .assets-declaration {
    width: 350px;
  }
}

.assets-declaration .source {
	color: gray;
	font-weight: normal;
	padding-left: 20px;	
}

.assets-declaration .key {
	color: gray;
}

.assets-declaration .year_navigation {
	text-align: center;
}