.vizitka-picture {  
  height: 180px;
  position: absolute;
  top: -20px;
  right: 50px;
}

.vizitka {
  padding: 10px;
  border: 1;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  height: 190px;
}

.bolder {
  font-weight: bolder;
}

.name {
  font-weight: bold;
}