.assets-declaration {
  width: 350px;
  flex-basis: auto;  
}

.assets-declaration .source {
	color: gray;
	font-weight: normal;
	padding-left: 20px;	
}

.assets-declaration .key {
	color: gray;
}

.assets-declaration .year_navigation {
	text-align: center;
}