.sidebarnav {
  align-self: flex-start;
  width: 100%;
  margin-bottom: auto;

}
.navbar-header {
  float: none;
  background-color: inherit;    
}

.navbar-toggle {
  display: inline;
  margin-left: 0;  
  float: left;
  border-width: 1px;
  border-color: #cddae3;
}

.navbar-brand {
  padding-left: 10px;
  padding-right: 0px;  
  padding-top: 0px;
  color:  #333333;
  font-size: 38px;  
  text-align: center;
  width: 90%;
  margin-bottom: 0px;
}

@media (max-width: 1199px) {
  .navbar-brand {
    float: none;
    padding-top: 40px;
  }
}

.bolder {
  font-weight: 700;
}

.sub_title {
  color: grey;
  font-weight: 300;
}
.navbar-brand:hover {
  color:  #333333;
}

.navbar-collapse.collapse {
  display: none!important;  
}

.navbar-nav {
  float: none!important;  
}

.navbar-nav > li {
  float: none;
}

.navbar-collapse.collapse.in{
  display: block !important;  
}

.icon-bar {
  background-color: #cddae3;
  width: 24px;
  height: 4px;
}
