.entitysearch input {
    border-radius: 2px;
    border-width: 2px;
    border-color: #cddae3;
    border-style: solid;
    background-color: white;
  }
  
  .searchForm {
    width: 100%;
  }
  
  .searchForm .searchTitle {
    font-family: 'Source Code Pro', monospace;
  }
  