

.table {
  background-color: white;
}


.table .number-column {
  text-align: center;   
}

.table .party-column {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}