.table {
  background-color: white;
}

.table .thumb-photo{
  height: 32px;	
}

.table .number-column {
  text-align: center;   
}

.table .party-column {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}