.vizitka-picture {
  height: 80px;
  position: absolute;
  top: -10px;
  right: 20px;
  box-shadow: 0 4px 12px 0 rgba(187,198,206,.5);
  border: 2px solid #cddae3
}

@media (min-width: 1200px) {
  .vizitka-picture {
    height: 180px;
    position: absolute;
    top: -20px;
    right: 50px;
  }
}

.vizitka {
  padding: 10px;
  padding-left: 30px;
  border: 3px;
  border-color: #cddae3;
  border-style: solid;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  height: 190px;
  box-shadow: 0 4px 12px 0 rgba(187, 198, 206, 0.5);
}

.bolder {
  font-weight: bolder;
}

.name {
  font-weight: bold;
}
