@import "../../../../custom-colors.scss";

.search-form {
  .search-input {
    background: $component-background;
    border-radius: 2px;
    border-width: 2px;
    border-color: $border-color;
    border-style: solid;
    height: 34px;
    color: #555;
  }

  .search-input:placeholder {
    color: #555;
  }

  .search-input:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }

}
