.profile-header {
  padding: 20px;
  margin-bottom: 0px;

  h1.title {
    margin: auto;
    padding-top: 0;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 20px;
    height: 50px;
  }

  .bolder {
    font-weight: bolder;
  }
}
