.profile-header {
  .sub-title {
    margin: auto;
    color: grey;
    font-weight: 300;
    line-height: 1.65rem;
    margin-bottom: 10px;
  }
}

.profile-search {
  margin-bottom: 20px;
  margin-top: 20px;
}

.profile-fbframe {
  text-align: left;
  padding-right: 0;
  margin-right: 0;
}
