@import "../variables.scss";

.card {
  box-shadow: 0 4px 12px 0 $shadow-color;
  text-align: center;
  border-radius: 8px;
  transition: box-shadow 0.25s;
  height: 100%;

  &:hover {
    text-decoration: none;
    box-shadow: 0 6px 18px 0 darken($shadow-color, 20%);
  }

  p {
    color: $link-color;
  }
}

.card-image-wrap {
  height: 80px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  height: 40px;
  width: auto;
}

.card-text {
  margin-top: auto;
}

.card-title {
  font-family: Source Code Pro, monospace;
  font-weight: normal;
}
