@import "../variables.scss";

.landing {
  min-height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: column;
}

.landing-container {
  margin-top: auto;
  margin-bottom: auto;
}

.landing-title {
  font-family: Source Code Pro, monospace;
  font-size: 1.1rem;
  font-weight: normal;
}

.landing-lead {
  font-family: Source Code Pro, monospace;
  font-size: 1.3rem;
}

.landing-cards {
  padding: 1rem 0; // Fix, without it the row will crop shadows on cards.

  > * {
    margin-bottom: 2rem;
  }
}

.landing-footer {
  background: $footer-background;
  height: auto;
  width: 100%;
  text-align: center;

  .landing-footer-text {
    padding-top: 10px;
  }

  .list-inline-item-text ~ .list-inline-item-text {
    border-left: 2px solid $card-border;
    padding-left: 0.5rem;
  }
}

.partners {
  &.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
    @media screen and (max-width: 767px) {
      margin-right: 0 !important;
    }
  }
}

.gray {
  color: rgb(165, 165, 165);
}
