@import '../../variables.scss';
.list-group-item {
    background-color: $verejne-searched-entity-background !important;
}

.location {
    height: 1rem;
    margin-left: 0.3rem;
    cursor: pointer;
}
