@import '../variables.scss';

.autocomplete {
  &__input {
    width: 100%;
  }
  &__suggestions {
    border: 1px solid $border-color;
    box-shadow: 0 4px 12px 0 $shadow-color;
    width: $verejne-sidebar-width;
    &__item {
      & small {
        color: $search-color;
      }
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid $border-color;
      padding: 0.3rem 0.6rem;
      cursor: pointer;
      background-color: white;
      &--active {
        background-color: $asset-hover-color;
      }
    }
    &__item:last-child {
      border-bottom: none;
    }
  }
}