@import '../variables.scss';

.companies-table {
  background-color: $component-background;
  padding: 0 0 0 20px;
  border-radius: 1px;
  margin-bottom: 0;
}

.companies-table-header tr th {
  color: $secondary;
  font-weight: normal;
  border-bottom: 1px solid $border-color;
  white-space: nowrap;
  background-color: $component-background;
}

.companies-table td {
  background-color: $component-background;
}
