@import '../variables.scss';

.company td {
  border-top: 1px solid $border-color;
  background-color: $component-background;
}

.nowrap-ellipsis {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.company-title a {
  max-width: 20vw;
}

.company-customer span {
  max-width: 10vw;
}

a.company-link:not([href]) {
  color: $blue-color;

  &:hover {
    color: darken($blue-color, 10%);
  }
}
