@import '../variables.scss';

.legend {
  width: 100%;

  .label {
    color: $label-color;
  }

  .title {
    font-family: 'Source Code Pro', monospace;
  }

  dt{
    text-align: center;
    padding-right: 0;
  }

  dd {
    padding-left: 0;
  }

  .row {
    padding: 5px;
  }
}
