@import '../variables.scss';

.similar-count {
  background-color: #b6c5d2;
  color: $component-background;
  border-radius: 1rem;
  padding: .15em .45em;
  font-size: .85rem;
  font-weight: bold;
}

.similarity {
  color: green;
  font-weight: lighter;
}

.similarity-high {
  font-weight: bold;
}

.similarity-medium {
  font-weight: bolder;
}

.similarity-low {
  font-weight: normal;
}

.warning-symbol {
  display: inline-block;
  width: fit-content;
}

.warning {
  font-size: 130%;
}

.warning-1 {
  color: $warning-1-color;
}

.warning-2 {
  color: $warning-1-color;
}

.warning-3 {
  color: $warning-1-color;
}
