@import '../variables.scss';

.notice-detail {
  padding-top: 40px;
}

.notice-detail-title {
  padding-left: 20px;
  margin-bottom: 30px;
}

.notice-detail-table {
  box-shadow: 0 4px 12px $shadow-color;
  margin-bottom: 30px;
}
