@import "../variables.scss";

.notice-list {
  hr {
    border-top-color: $border-color;
    width: 85%;
    @media screen and (max-width: 575px) {
      width: 100%;
    }
    @media screen and (max-width: 649px) {
      width: 95%;
    }
    @media screen and (max-width: 767px) {
      width: 90%;
    }
  }
}

.notice-input {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  @media screen and (min-width: 576px) {
    width: 60%;
  }
  @media screen and (min-width: 650px) {
    width: 50%;
  }
  @media screen and (min-width: 768px) {
    width: 35%;
  }
}

.notice-list-table {
  width: 85%;
  @media screen and (max-width: 575px) {
    width: 100%;
  }
  @media screen and (max-width: 649px) {
    width: 95%;
  }
  @media screen and (max-width: 767px) {
    width: 90%;
  }
  border: 10px;
  margin-left: auto;
  margin-right: auto;
}

.fbfooter {
  margin-top: 10px;
  margin-left: 10%;
  padding-left: 1rem;
  height: 50px;
  overflow: hidden;
  .fbIframe {
    border: none;
    overflow: hidden;
    margin-top: 0;
  }
}

.notice-search-result-text {
  text-align: center;
}
