@import "../variables.scss";

.notice-list {
  hr {
    border-top-color: $border-color;
    width: 100%;
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  margin: auto;
  max-height: 100%;
  overflow: auto;
}

.notice-list-sidebar {
  background-color: $component-background;
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 3rem;

  @media screen and (max-width: 1200px) {
    position: relative;
    top: 0;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-right: 1rem;
  }
}
