@import '../variables.scss';

.notice-information {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
  box-shadow: 0 4px 12px $shadow-color;
  border: 2px solid $border-color;
  border-radius: 1px;
  position: relative;
  margin-bottom: 30px;

  &::after {
    content: ' ';
    display: block;
    width: 8px;
    height: 30px;
    position: absolute;
    bottom: -32px;
    background: $border-color;
  }
}

.notice-information-item {
  padding: 10px 0;

  & + & {
    border-top: 1px solid $border-color;
  }

  strong {
    color: #6c8294; // TODO: Move to variables
    font-weight: normal;
  }
}
