@import "../variables.scss";

.notice-list {
  hr {
    border-top-color: $border-color;
    width: 100%;
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  margin: auto;
  max-height: 100%;
  overflow: auto;
}
