.note {
  color: grey;
}

.title {
    font-weight: bold;
    margin: 25px 20px;
}

.connectLine {
    height:30px;
    width:8px;
    padding-left: -50px;
    background-color: #cddae3;
    margin-left: 40px;
}
