@import "../variables.scss";

.notice-sidebar {
  margin: auto;
  text-align: center;
}

.notice-list-title {
  font-weight: 200;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .notice-list-title,
  .notice-list-text {
    text-align: center;
  }
}
