@import '../../variables.scss';

.profile-cardboard {
  text-align: left;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  border: 3px;
  border-color: $border-color;
  border-style: solid;
  background-color: $component-background;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  min-height: 190px;
  box-shadow: 0 4px 12px 0 $shadow-color;
  @media screen and (max-width: 766px) {
    text-align: center;
    padding-left: 10px;
  }

  dd {
    float: left;
  }

  dt::after {
    content: ':';
  }

  .picture {
    height: 180px;
    position: absolute;
    top: -20px;
    right: 50px;
    box-shadow: 0 4px 12px 0 $shadow-color;
    border: 2px solid $border-color;
    @media screen and (max-width: 766px) {
      position: static;
      display: block;
      margin: 1rem auto;
    }
  }

  .bolder {
    font-weight: bolder;
  }

  .name {
    font-weight: bold;
    padding-bottom: 20px;
  }
}
