@import "../../../../../variables.scss";

.subgraph {
  margin-bottom: 50px;

  .graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 10px;

    background-color: $component-background;
    border: 2px solid $border-color;
    border-radius: 2px;
    box-shadow: 0 4px 12px 0 $shadow-color;
  }
}
