@import "../../variables.scss";

.header {
  padding: 20px;
  margin-bottom: 0px;

  h1.title {
    margin: auto;
    padding-top: 0;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 20px;
    height: 50px;

    .bolder {
      font-weight: bolder;
    }

    a {
      color: $link-color;
      font-weight: 400;
    }

    a:hover {
      text-decoration: none;
      color: $link-color;
    }
  }
}

.tabs {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.tab {
  display: inline-block;
  padding: 3px;
  box-shadow: 0 4px 12px 0 rgba(187, 198, 206, 0.5);
  border: 2px solid $border-color;
  background-color: $component-background;
  cursor: pointer;
  margin: 0 5px 5px;
  min-width: 45px;
}

.tab.active {
  color: #337ab7;
  font-weight: bold;
}

.detail-navigation {
  width: 800px;
  margin: auto;
  text-align: left;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.detail-map {
  margin-top: 40px;
}

article {
  text-align: left;
}
