.header {
  padding: 20px;
  margin-bottom: 0px;

  .title {
    margin: auto;
    padding-top: 0;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 20px;
    height: 50px;

    .bolder {
      font-weight: bolder;
    }
  }

  .sub-title {
    margin: auto;
    color: grey;
    font-weight: 300;
    line-height: 1.65rem;
    margin-bottom: 10px;
  }
}

.search {
  margin-bottom: 20px;
  margin-top: 20px;
}

.fbframe {
  text-align: left;
  padding-right: 0;
  margin-right: 0;
}
