#profil {
  margin: auto;
  width: 800px;
}

.header {
  height: auto;
  padding: 20px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}

.app-intro {
  font-size: large;
}

.search {
  padding-bottom: 40px;
  padding-top: 20px;
  width: 100%;
}

#profil .bolder {
  font-weight: bolder;
}

#profil .fbframe {
  text-align: left;
  padding-right: 0px;
  margin-right: 0px;
}

.title {
  margin: auto;
  padding-top: 0px;
  padding-bottom: 15px;
  color:  #333333;
  font-size: 38px;
  text-align: center;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  line-height: 20px;
  height: 50px;
}

@media (max-width: 1199px) {
  .title {
    float: none;
    padding-top: 40px;
  }
}

.bolder {
  font-weight: 700;
}

.sub-title {
  color: grey;
  font-weight: 300;
  font-size: 24px;
  line-height: 26.4px;
  margin-bottom: 10px;
}
