@import "./variables.scss";

<<<<<<< HEAD
html, body, #root, .application-container {
  height: 100%;
}

.screen-container {
  height: calc(100% - #{$navbar-height});
  overflow: auto;
=======
.application-container {
  margin-top: $navbar-height;
>>>>>>> Fix scss files
}
