.landing {
  padding: 10rem;
}

.list-inline-item-text~.list-inline-item-text {
  border-left: 2px solid #cad3d9;
  padding-left: 0.5rem;
}

.footer {
  background: #f1f4f5;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
