@import "./variables.scss";

.navbar {
  box-shadow: 0 4px 12px 0 $shadow-color;
  background: $component-background;
  padding: 0 ;
  height: $navbar-height;
  z-index: 1000;
}

.navbar-brand {
  margin-left: 1rem;
  padding: .5rem 0;
  font-family: Source Code Pro, monospace;
}

.collapse.show, .collapsing {
  margin-top: -3px;
  box-shadow: 0 8px 12px -4px $shadow-color;
}

.nav-item {
  padding: 0 1rem;
  background: $component-background;
}

.nav-link {
  background: $component-background;
  padding-top: .8rem;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom-color: $search-border-color;
  }

  &.active {
    border-bottom-color: $active-tab-color;
  }
}

.navbar-toggler {
  margin: .5rem 0;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: .8rem;
  padding: .1rem;
}
