@import "./variables.scss";

// classes used internally by bootstrap
.navbar {
  box-shadow: 0 4px 12px 0 $shadow-color;
  background: $component-background;
  padding: 0 1rem;
}

.navbar-brand {
  padding: 0.5rem;
}

.nav-link {
  padding-top: 0.8rem;
}

.navbar-toggler {
  margin: 0.5rem 0;
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  padding: 0.1rem;
}

.navbar-brand {
  font-family: Source Code Pro, monospace;
}

// custom styling
.navigation {
  &__container {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &__contact-container {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    border-bottom: 3px solid transparent;

    &:hover {
      // TODO fix colors
      border-bottom: 3px solid $search-border-color;
    }

    &.is-active {
      border-bottom: 3px solid $active-tab-color;
    }
  }
}
