// only variables here otherwise we duplicate css
$body-bg: #f5f7f8;
$body-color: #333333;

$card-border-color: #cddae3;
$card-border-width: 3px;

$navbar-height: 56px;


$item-success-color: #468966;
$blue-color: #0062db;
$form-control-bg-color: #f2f5f8;
$orange-color: #e55600;
