$navbar-height: 56px;

// Card
$card-border: #cad3d9;

// Verejne
$item-success-color: #468966;
$blue-color: #0062db;
$form-control-bg-color: #f2f5f8;
$orange-color: #e55600;

// Profil
$component-background: white;
$footer-background: #f1f4f5;
$border-color: #cddae3;

$shadow-color: rgba(187,198,206,.5);
$asset-hover-color: #fafafa;
$input-inset-shadow-color: rgba(0,0,0,.075);
$input-shadow-color: rgba(102,175,233,.6);
$link-color: #333;
$search-color: #555;
$active-tab-color: #337ab7;
