$navbar-height: 56px;
// Card
$card-border: #cad3d9;
// Verejne
$item-success-color: #468966;
$blue-color: #0062db;
$form-control-bg-color: #f2f5f8;
$orange-color: #e55600;
$verejne-sidebar-width: 350px;
// google map
$cluster-marker-border: rgba(0, 80, 255, 0.9);
$marker-width: 2rem;
$marker-height: 2rem;
$marker-color: rgba(66, 134, 244, 0.9);

// Profil
$component-background: white;
$footer-background: #f1f4f5;
$border-color: #cddae3;
$shadow-color: rgba(187, 198, 206, 0.5);
$asset-hover-color: #fafafa;
$input-inset-shadow-color: rgba(0, 0, 0, 0.075);
$input-shadow-color: rgba(102, 175, 233, 0.6);
$link-color: #333;
$search-color: #555;
$active-tab-color: #337ab7;

$search-border-color: #66afe9;

$marker-background: rgba(255, 255, 255, 0.75);
$marker-border: #0062db;
$marker-text-color: #337ab7;

//Obstaravania
$label-color: darkgrey;
$warning-1-color: gold;
$warning-2-color: orange;
$warning-3-color: red;
