<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="description" content="Našim cieľom je identifikovať a notifikovať uchádzačov, ktorí by sa mali zapojiť do verejných obstarávaní. Pomocou algoritmov na strojové spracovanie textu hľadáme víťazov podobných obstarávaní v minulosti." />
    <title>Verejne Digital - Obstarávania</title>
    <link rel='shortcut icon' href='favicon-32x32.png' type='image/x-png'/ >
    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="shared-menu-colors.css">
    <style>    
      label {
        margin : 5px;        
        color: #bd4932;
      }
      table {
        color: inherit;
      }
    </style>    
 </head>
 <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>    
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="display_info.js"></script>
    <script type="text/javascript" src="obstaravania/obstaravania.js"></script>
    
    <nav class="navbar navbar-default">  
  <div class="navbar-header" id="world-top">    
    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">obstaravania.verejne.digital</a> <span class="badge" style="background-color:#fff0a5;color:#bd4932;margin:3px">beta</span>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">      
      <li><a href="http://verejne.digital/">verejne.digital</a></li>      
      <li><a href="http://www.facebook.com/verejne.digital" target="_blank">kontaktuj nás na Facebooku</a></li>
      <li><a href="http://prepojenia.verejne.digital/">prepojenia.verejne.digital </a></li>      
      </a></li>            
    </ul>    
  </div>
    </nav>   

<div class="container">
<div class="row" style="max-width:1000px; width:100%; margin-left:auto; margin-right:auto">
{% for batch in data %}
  <h2>{{batch.name}}, {{batch.address}}</h2>
  <form action='updateNotifications'>
    <table class="table">
      <td>Posli</td><td>Obstaravanie</td><td>Obstaravatel</td><td>Dovod</td>
      {% for message in batch.notifications %}
        <tr>
          <td><input type="checkbox" name=on_{{message.id}} checked></td>
          <input type="hidden" name=all_{{message.id}} checked>
          <td><a href="obstaravanie?id={{message.obstaravanie.id}}">{{message.obstaravanie.title}} ({{message.obstaravanie.bulletin_date}})</a></td>
          <td>{{message.obstaravanie.customer}}</td>
          <td><a href="obstaravanie?id={{message.reason.id}}">{{message.reason.title}} ({{message.reason.bulletin_date}})</a></td>
        </tr>
      {% endfor %}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endfor %}
</div>
</div>
</body>
</html>
