@import "../../../variables.scss";

.cluster-marker {
  border-radius: 50%;
  border: 3px solid $cluster-marker-border;
  background-color: $marker-color;
  text-align: center;
  color: $marker-color !important;
}

.simple-marker {
  background: url('../../../../assets/mapIcon.svg') no-repeat;
  background-size: contain;
  transform: translate(0, -50%);

  &:hover {
    transform: translate(0, -50%) scale(1.2);
    transition: .2s ease;
  }
}

.selected {
  background: white !important;
  border-radius: 50%;
  box-shadow: 0 0 10px 8px $cluster-marker-border, 0 0 2px $cluster-marker-border inset;
}

.map-label {
  border-radius: .4em;
  border: 3px solid $cluster-marker-border;
  background-color: $marker-color;
  text-align: center;
  width: auto;
  height: auto;
  padding: .3em;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    transition: .2s ease;
  }
}

.company-marker {
  display: flex;
  justify-content: center;
  align-self: center;

  svg {
    transform: scale(0.9);
  }
}
