@import '../../variables.scss';

.Legend {
    position: absolute;
    background: white;
    padding: 0.3rem;
    right: 1.3rem;
    bottom: 2rem;
    width: 11.3rem;
    height: 9.3rem;
    border: 1px solid #000;
    opacity: 0.9;
    &__Header {
        display: flex;
    }
    p {
        text-align: left;
        font-size: 0.8rem;
        margin-bottom: 0;
    }
}

.Hidden {
    visibility: hidden;
}

.Svg {
    color: $blue-color;
    margin-right: 0.2rem;
}

.Orange {
    color: $orange-color;
}
