.search-info-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  @media screen and (min-width: 992px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.search-info-box {
  flex: 0 calc(50% - 1rem);
  margin-right: 1rem;
  &:nth-child(even) {
    margin-right: 0;
    margin-left: 1rem;
  }
}
