@import "../../variables.scss";

.verejne-side-panel {
  position: fixed;
  top: $navbar-height + 40px;
  left: 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  & > * {
    pointer-events: all;
  }

  .form-control {
    box-shadow: 0 4px 12px darken($shadow-color, 25%);
    border-radius: 2px;
    font-size: 1rem;
    padding: 1em 1.5em;
    width: $verejne-sidebar-width;
  }

  .entity-input {
    width: auto;
  }
}

.drawer{
  z-index: 900;
}
.drawer.drawer-left.drawer-open{
  z-index: 1030;
}
.drawer-content {
  padding: 1rem 0.5rem;
}
